body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 60px;
  overflow-y: scroll;
  background-color:#0e141b !important;
}

.navbarName {
  font-size: 30px;
}

p {
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold !important;
  color: white !important;
}

#project-pg {
  padding-top: 60px;
}

.btn {
  margin-bottom: 5px;
}

img {
  display: block;
}

.img-container {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}
html {
  scroll-behavior: smooth;
}

#project-footer {
  margin-bottom: 60px;
}

.navbar-nav .active {
  background-color: #E1EFFE;
}

#project-summary {
  padding-bottom: 20px;
}

nav .navbar-nav li a{
  color: white !important;
  }

#navigation-bar {
  background-color: #0e141b !important;     
}


.btn {
  color: white !important;
  background-color: #0e141b !important;
  
}

.btn-primary {
  color:white !important;
}


.navbar .navbar-toggler {
  color: white !important;
}

.navbar-toggler-icon {
  color: white !important;
  border-color: white !important;
}
